body {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  font-family: 'arial', 'sans-serif';
  min-width: 225px;
  margin: 0 25px;
}
main {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
}

footer {
  margin-top: 100px;
  font-size: 0.7em;
  padding: 25px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  main img {
    max-width: 550px;
  }
}
